//IMPORT bootstrap
$primary: #9ea93f;
$secondary: #60712f;
$btn-color: #fff;
$btn-hover-color: #fff;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 800 !important;
}

.onMouseGrow {
  transition: transform .2s;
}

.onMouseGrow:hover {
  transform: scale(1.02);
}

.onMouseUp {
  transition: transform .2s;
}

.onMouseUp:hover {
  transform: translate(0, -10px);
}

.onMouseRight {
  transition: transform .2s;
}

.onMouseRight:hover {
  transform: translate(10px, 0);
}

.header {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: brightness(50%);
    display: block;
  }
  h1 {
    position: absolute;
  }
}

.headerFoto {
  background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url("../images/sun3.jpg");
}

.headerKlim {
  background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url("../images/air.jpg");
}

.mt-5 {
  margin-top: 6rem !important;
}

.rounded-3 {
  border-radius: 1.5rem !important;
}

.mt-122-5 {
  margin-top: calc(122px + 6rem);
}

.vh-60 {
  height: 60vh;
}

.vh-50 {
  height: 50vh;
}

@media (min-width: 992px) {
  .vh-lg-100 {
    height: 100vh;
  }
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #9ea93f;
  --bs-btn-border-color: #9ea93f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #adb65c;
  --bs-btn-hover-border-color: #a8b252;
  --bs-btn-focus-shadow-rgb: 134, 144, 54;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b1ba65;
  --bs-btn-active-border-color: #a8b252;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #9ea93f;
  --bs-btn-disabled-border-color: #9ea93f;
}

.btn-outline-primary {
  --bs-btn-color: #9ea93f;
  --bs-btn-border-color: #9ea93f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #9ea93f;
  --bs-btn-hover-border-color: #9ea93f;
  --bs-btn-focus-shadow-rgb: 158, 169, 63;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #9ea93f;
  --bs-btn-active-border-color: #9ea93f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #9ea93f;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #9ea93f;
  --bs-gradient: none;
}

.map-responsive{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $secondary;
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 1031;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}
