@use '../custom' as *;

.homepage-section {
  .carousel-caption {
    min-height: 50vh;
    h1 {
      font-weight: 800;
    }
  }

  .carousel-inner {
    img {
      filter: brightness(50%);
      object-fit: cover;
      height: 100%;
    }
  }

  .houseOffer {
    background: linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)),
          url("../images/home.jpg");
  }
  .companyOffer {
    background: linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)),
          url("../images/factory.jpg");
  }


  .bi {
    font-size: calc(4rem + 0.9vw)
  }
}
